@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@font-face {
    font-family: 'Blusty Script Free'; /* Replace with your desired font name */
    src: url('./assets/Blusty\ Script\ Free.ttf') format('ttf');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal; /* Adjust as necessary */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Inter for body text and Syne for headings */
body {
    font-family: 'Inter', sans-serif; /* Use Inter for body text */
}

.logo-wordmark {
    font-family: 'Blusty Script Free', sans-serif;
    color: #f8889f;
}

h1 {
    font-family: 'Syne', sans-serif; /* Use Syne for h1 */
    font-weight: 700; /* Bold */
}

h2 {
    font-family: 'Syne', sans-serif; /* Use Syne for h2 */
    font-weight: 400; /* Regular */
}

h3 {
    font-family: 'Syne', sans-serif; /* Use Syne for h3 */
    font-weight: 300; /* Regular */
}

/* Add the no-text-cursor class */
.no-text-cursor {
    cursor: default; /* Prevents text cursor */
}

/* Add any other styles as needed */


